/*.log
/.htaccess
/sitemap.xml
/sitemap.xml.gz
/wp-content/advanced-cache.php
/wp-content/backup-db/
/wp-content/backups/
/wp-content/blogs.dir/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/uploads/
/wp-content/wp-cache-config.php
/wp-content/plugins/hello.php
wp_raga10/wp-config.php

/readme.html
/license.txt

backups/*.gz

backups/db-20160527.sql
backups/db-20160527.sql.bck
settings/wp-config.php

